.container {
    width: 95%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
    height: 400px;
    width: 400px;
}

body {
    background-color: #393E46;
}

h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 6rem;
    color: #4ECCA3;
}

p {
    font-size: 4rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}

img {
    width: 80%;
}

footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}


/* for buttons */

.but {
    text-align: center;
}

.button {
    background-color: #4ECCA3;
    /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 49px;
    margin: 2px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: #4ECCA3;
    border: 2px solid #4ECCA3;
}

.button1:hover {
    background-color: #4ECCA3;
    color: #393E46;
}
